/*  your css code here. If applicable */
*{
	margin:0px;
	padding:0px;
}
body{
	width:100vw;
	height:100vh;
}
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.image{
	width:70%;
	height:200px;
}
.imagesrc{
	width:400px;
	height:200px;
	object-fit:cover;
}
.document{
	width:30%;
	text-align:center;
}
.btn{
	background-color:red;
	color:white;
	padding:5px;
	border-radius:6px;
	width:100px;
}